# This service unit if for the check-newsfeed.py script.
# See https://github.com/lsg551/matricula-online-scraper for more information.


[Unit]
Description=Check Matricula Online`s newsfeed for new entries

[Service]
WorkingDirectory=/home/<user>/scripts/
User=<user>
Type=oneshot
EnvironmentFile=/home/<user>/scripts/config.env
ExecStart=/home/<user>/.pyenv/shims/python3.12 /home/<user>/scripts/check-newsfeed.py $FROM $PASSWORD $SMTP_SERVER $SMTP_PORT $TO $KEYWORDS $SCRAPE_PERIOD
